<div class="container">
  <h1> {{title}} </h1>
  <form>
    <div class="mb-3">
      <label for="operandoA">Operando A</label>
      <input type="number" class="form-control" placeholder="Escriba operando A" [(ngModel)]="operandoA">
    </div>
    <div class="mb-3">
      <label for="operandoB">Operando B</label>
      <input type="number" class="form-control" placeholder="Escriba operando B" [(ngModel)]="operandoB">
    </div>
    <button class="btn btn-primary mb-3" (click)="sumar()">Sumar</button>
    <div>Resultado: {{resultado}} </div>
  </form>
</div>
